# Quarto e diretórios de cache
.quarto/
*_cache/
*_files/

# Arquivos de saída e documentos
*.html
*.pdf
*.docx
*.doc
*.txt
*.log
*.js

# Arquivos intermediários do Quarto/Jupyter
**/*.quarto_ipynb
.ipynb_checkpoints/
/.quarto/
.Rproj.user
.Rproj
.positai
